@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

html {
  height: 100%;
}

body {
  width: 100%;
  margin: 0;
  font-family: "ZCOOL KuaiLe", serif;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
}

#root {
  width: 100%;
}