.container {
    width: 100%;
    height: 100%;
}

.top {
    width: 100%;
    height: 15%;
    margin: 0;
}

.logo {
    max-width: 20%;
    max-height: 75%;
    cursor: pointer;
    margin: auto 0 auto 20px;
}

.searchBarDiv {
    position: relative;
    width: 50%;
    height: 40px;
    margin: auto 0 auto 20px;
}

.searchBar {
    margin: auto 0;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    border: 3px solid white;
    box-sizing: border-box;
    border-radius: 30px;
    background-color:black;
    color: white;
}

.searchBar:focus {
    transition: .5s ease;
    box-shadow: inset -2px -3px 5px #FFFFFF;
    outline: none;
}

.magnifier {
    pointer-events: none;
    position: absolute;
    width: 20px;
    height: 20px;
    align-self: center;
    right: 15px;
    top: 10px
}

.searchButton {
    margin: auto 20px;
    height: 40px;
    width: 80px;
    background-color: black;
    color: white;
    transition: .5s ease;
    border-radius: 30px;
    border: 3px solid white;
    white-space: nowrap;
}

.searchButton:focus {
    box-shadow: inset -2px -3px 5px #FFFFFF;
    outline: none
}


.gallery {
    margin: 0 auto;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
}


.image {
    position: relative;
    margin: 15px;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame {
    pointer-events: none;
    position: absolute;
    background: url(../../assets/frame.png) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.error {
    margin: 0 20px;

    color: #FFFFFF;
    font-size: 24px;
}

/** small screens adjustments */
@media screen and (max-width: 720px) {
    .logo {
        margin-left: 10px;
    }

    .searchBarDiv {
        margin-left: 10px;
        max-width: 45%;
    }

    .searchBar {
        font-size: 14px;
    }

    .searchButton {
        width: 60px;
        font-size: 14px;
        margin-left: 10px;
    }

    .error {
        margin-left: 15px;
    }

    .image {
        margin: 15px auto;
        width: 75vw;
        height: 75vw;
    }
}

@media screen and (max-width: 370px) {
    .logo {
        margin-left: 5px;
    }

    .searchBarDiv {
        margin-left: 5px;
    }

    .searchBar {
        font-size: 14px;
    }

    .searchButton {
        width: 60px;
        font-size: 14px;
        margin-left: 10px;
    }
}

/** for any touch pad */
@media (pointer:coarse) {
    .searchButton:active {
        box-shadow: inset -2px -3px 5px #FFFFFF;
        outline: none
    }
}