.top {
    margin-top: 1%;
    margin-left: 1%;
}

.search-bar-div {
    margin-left: 1.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0 !important;
}

.search-bar {
    padding-left: 10px;
    padding-right: 55px;
    width: 100%;
    height: 40px;
    border: 3px solid white;
    box-sizing: border-box;
    border-radius: 30px;
    background-color:black;
    color: white;
}

:focus {
    transition: .5s ease;
    box-shadow: inset -2px -3px 5px #FFFFFF;
}

.logo {
    height: 100%;
    cursor: pointer;
}

.search-button-div {
    align-self: center;
}

.result-search-button {
    background-color: black;
    color: white;
    transition: .5s ease;
    border-radius: 30px;
    border: 3px solid white;
    white-space: nowrap;
    height: 40px;
    width: 90px;
}

.result-search-button:focus {
    box-shadow: inset -2px -3px 5px #FFFFFF;
    outline: none
}

.result-magnifier {
    pointer-events: none;
    position: absolute;
    width: 20px;
    height: 20px;
    align-self: center;
    right: 35px;
}

.img-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    margin-left: 1%;
}

.image-div {
    margin: 15px;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 78%;
    height: 78%;
}

.frame {
    pointer-events: none;
    position: absolute;
    background: url(../../assets/frame.png) no-repeat center;
    background-size: contain;
    width: 200px;
    height: 200px;
}

.gallery {
    display: inline-flex;
    flex-direction: row;
    padding-top: 1%;
    margin-left: 1%;
    justify-content: flex-start;
}

.error {
    color: #FFFFFF;
    font-size: 24px;
}