/** Desktop components */
.home-header {
  margin: 5% auto;
  width: 65%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border: 7px solid white;
  border-radius: 30px;
}

.home-logo-div {
  justify-content: center;
  width: 80%;
}

.home-logo {
  padding-top: 5%;
  width: 100%;
}

.home-search-bar-div {
  position: relative;
  padding-top: 6%;
  padding-bottom: 10%;
  width: 75%;
  min-height: 60px;
}

.search-box-div {
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-search-bar {
  padding-left: 15px;
  padding-right: 50px;
  align-content: center;
  width: 100%;
  height: 100%;
  border: 3px solid white;
  box-sizing: border-box;
  border-radius: 30px;
  background-color:black;
  color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.home-magnifier {
  pointer-events: none;
  position: absolute;
  width: 20px;
  height: 20px;
  align-self: center;
  right: 20px;
}

.home-search-bar:focus {
  transition: .5s ease;
  box-shadow: inset -2px -3px 5px #FFFFFF;
}

::placeholder {
  color: white;
  opacity: 0.80;
}


.button-search-div {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-search {
  background-color: black;
  color: white;
  border-radius: 30px;
  border: 3px solid white;
  height: 100%;
  width: 75px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.button-search:focus {
  box-shadow: inset -2px -3px 5px #FFFFFF;
  transition: .5s ease;
  outline: none;
}

input:focus {
  outline: none;
}

/** Mobile components */
.mobile-logo {
  display: block;
  height: 21%;
  margin: 30% auto 0;
}

.mobile-search-box-div {
  width: 75%;
  height: 40px;
  margin: 18% auto 0;
  position: relative;
}

.mobile-search-box {
  width: 100%;
  height: 100%;
  background-color: black;
  outline: none;
  border-width: 0 0 2px;
  border-color: white;
  text-align: center;
  font-size: 16px;
  color: white;
  padding: 0;
}

.mobile-search-box:focus {
  box-shadow: inset 0 -2px 1px #FFFFFF;
  outline: none
}

.mobile-search-box:focus::placeholder {
  color: transparent;
}


.mobile-magnifier {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 7px;
  right: 0;
}

.mobile-search-button {
  display: block;
  margin: 7% auto;
  width: 19%;
  height: 34px;
  background-color: black;
  color: white;
  border-radius: 30px;
  border: 1px solid white;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
}

.mobile-search-button:hover {
  box-shadow: inset -2px -3px 5px #FFFFFF;
  outline: none
}


/** Common */
.container {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.text {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  color: white;
  text-align: center;
  font-size: 18px;
}

@media screen and (max-width: 1024px)
{
  .home-header {
    width: 85%;
    margin: 20% auto;
  }

  .text {
    font-size: 16px;
  }
}
